* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.active {
  border-bottom: 2px solid #1c1e29;
}

html {
  font-family: 'Carme', sans-serif;
}

body {
  background: url('./img/header3.jpg') center bottom;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}

div {
  width: 100vw;
  /* height: 100vh; */
}

ul {
  position: relative;
  top: 18px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
/*   border-bottom: 1px solid #d6d6d6;
  padding-bottom: 18px; */
}

li {
  padding: 10px;
}

nav a:hover {
  border-bottom: 2px solid #1c1e29;
}

a {
  color: #1c1e29;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 6px;
}

.home {
  position: relative;
  text-align: center;
  top: 35%;
}

.about {
  position: relative;
  text-align: center;
  top: 20%;
}

.about p {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: left;
}

.work {
  position: relative;
  text-align: center;
  top: 35%;
}

.contact {
  padding: 0;
  position: relative;
  text-align: center;
  top: 35%;
}

.contact a {
  position: relative;
  margin: 2%;
  width: 8%px;
  height: 8%px;
}

.contact a :hover {
  color: #3e3e3ec2;
}